*{
    margin: 0;
    padding:0;
}
body{
    font-family:'Inter',sans-serif;
}

.Navbar{
    position: sticky;
     display: flex;
     justify-content: space-between;
     background-color: white;
     color: black;
     margin-top: 10px;
     font-style: normal;
      top: 0;
       z-index: 1;
     

}
.title img{

width: 220px;
padding-left: 50px;
}

.Topic{
    display: flex;
     justify-content: space-between;
     background-color: white;
     color: #0A3D2C;
     font-size:  15px; 
     font-weight: 250;
    
     font-display: block;
     gap: 40px;
     margin-top: 10px;
     font-weight: bold;
     align-items: top;
    


     
     
}

.Icons{
     display: flex;
     justify-content: space-between;
     left: 100px;
     gap: 10px;
     padding: 5px;
     margin-right: 40px;
     padding-right: 40px;

      }


.Icons img{
    
    width: 35px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.Icons h4{
    padding-top: 10px;
    text-align: center;
    gap: 5px;
    left: 30px;
    padding-right: 40px;
}

.sign{
    width: 55px;
    background-color:black;
    color: white;
    padding: 10px;
     border: solid black 1px;
    border-radius: 25px;
    cursor: pointer;;
    margin-bottom: 30px;
    padding-left: 10px;
    
}

.Search__title{

font-family:'Inter', sans-serif;
  font-size: 65px;
  font-weight: 300;
  color: #0A3D2C;
  margin: 15px;
  text-align: center;
}

.Search__title h1{

font-family: 'Inter', sans-serif;
  font-weight: 800;
      font-size: 50px;
  color: #0A3D2C;
  font: bold;
}


.Search__Icon{
    width: 515px;
     margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: px;
    flex-grow: 4;
    flex-basis: 50%;
   text-align: center;
    padding-left: 380px;
     cursor: pointer;

}

.Search__Icon__1,.Search__Icon__2,.Search__Icon__3,.Search__Icon__4{
    
    display: flex;
    justify-content: space-between;
    gap: 1px;
    font-family: 'Poppins', sans-serif;
    color:  #0A3D2C;
     font-size: 18px;
     font-weight: bold;

}

.Search{
width: 750px;
margin-top: 30px;
 background-color:#F2F2F2;
 display: flex;
 justify-content: space-between;
padding: 10px;
border: solid #E0E0E0 2px;
box-shadow:#E0E0E0;
border-radius: 35px;
align-content: center;
margin-left: 260px;


}

.Search input{
    font-size: 16px;
    border: none;
    color: #1F3D2B;
    width: 80%;
    padding-right:60px;
    margin-right: 50px;
    background-color: transparent;
}

.Search input:focus{
    outline: none;
}

.Search p{
   
     background-color:#00D84A;
     color: black;
    border: solid#00D84A 10px;
    border-radius: 20px;
    font-weight: bold;

}
.Search i{
    
    padding: 10px;
}

.content img{
   width: 500px;
    border: solid  #00D84A 1px;
     border-radius: 12px;

}
.content{
    display: flex;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    margin: 60px;
    background-color: #00D84A;
    border: solid  #00D84A 1px;
    border-radius: 12px;
    margin-left: 60px;
   
}






.Contact_section__1 p{

    width: 0.2px;
    height: 390px;
    margin: 0 auto;
    transform: rotate(180deg);
    background-color: black;
    margin-left: 10px;
}
.Contact_section__2{
    margin: 20px;
    padding: 20px;
   
}
.Contact_section__2 h2{
   
   
   
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 15px;
 
}

.Contact_section__2 p{
   font-size: 20px;
   
}

.book__now{

margin: 20px;
padding: 10px;
border: #00D84A solid 1px;
color: white;
background-color: #0A3D2C;
border-radius: 25px;
align-items: center;
text-align: center;
width: 100px;
margin-left: 35%;
margin-bottom: 20px;


}

.Contact_section__1 i{
   margin-left: 2900%
   
  
    
   
    
}

.Card{

margin-left: 50px;
}

.Card p{
    margin-top: 10px;
    font-size: 15px;
    font: lighter;
}

.Course_Card{
    display: flex;
    gap: -20px;
    height: 270px;
    margin-left: 20px;
   
   
  
}

.Course{
    display: flex ;
flex-wrap: wrap;
justify-content: space-between;
width: 100%;
margin-left: 5px;


 
 }

.Course_Card img{
     height: 90%;
    width: 90%;
    margin: 20px;

margin-left: 30px;
border-radius: 15px;
}


.Course__1,.Course__2,.Course__3,.Course__4{
    
   position: relative;
   width: 295px;
   height: 270px;
   
    cursor: pointer;
    

}

.course__1 img,.course__2 img,.course__3 img,.course__4 img{
    width: 120%;
    
}
.Course__1 p,.Course__2 p,.Course__3 p,.Course__4 p{
   position: absolute;
    bottom: 10px;  
     
    left: 30px;     
    background: transparent;
    color: white;
    padding: 8px 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
   
   
}
.Recommended__title h4{
     margin-top: 15px;
    
     margin-left: 50px;
}

.Recommended__title p{

    margin-top: 5px;
    margin-left: 50px;
    font-weight: 50;
}



.container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 30px;
}

.Place_Card{
    flex-grow: 4;
    flex-basis: 20%;
    margin:15px;
     width:100%;
}

.Place_Card Img{
   
      height: 80%;
    width:100%;
    border-radius: 20px;
   margin: -2px;
    
    
}

.Place_Card p{
     margin-top: 10px;
}
 .Recommended__title_S1 h4{
    padding-top: 20px;
     margin-top: 30px;
    
     margin-left: 50px;
}

.Recommended__title_S1 p{

    margin-top: 5px;
    margin-left: 50px;
    font-weight: 50;
}



.container_S1{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 30px;
}

.Place_Card_S1{
    flex-grow: 4;
    flex-basis: 20%;
    margin:15px;
     width:100%;
}

.Place_Card_S1 Img{
   
      height: 80%;
    width:100%;
    border-radius: 20px;
   margin: -2px;
    
    
}

.Place_Card_S1 p{
     margin-top: 10px;
}
 
.content_S1 img{
   width: 500px;
    border: solid #E0E0E0  1px;
     border-radius: 12px;

}
.content_S1{
    display: flex;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    margin: 60px;
    background-color: #E0E0E0;
    border: solid  #E0E0E0 1px;
    border-radius: 12px;
    margin-left: 60px;
   
}






.Contact_section__S1 p{

    width: 0.2px;
    height: 390px;
    margin: 0 auto;
    transform: rotate(180deg);
    background-color: transparent;
    margin-left: 10px;
}
.Contact_section__S2{
    margin: 20px;
    padding: 20px;
   
}
.Contact_section__S2 h2{
   
   
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 15px;
 
}

.Contact_section__S2 p{
   font-size: 15px;
   padding: 10px;
   
}

.donate__now{

margin: 20px;
padding: 10px;
border: #00D84A solid 1px;
color: #E0E0E0;
background-color: #0A3D2C;
border-radius: 25px;
align-items: center;
text-align: center;
width: 120px;
margin-left: 35%;
margin-bottom: 20px;


}

.Contact_section__S2 h4 {
    margin-left: 120px;
}

.Recommended__title_S2 h4{
    padding-top: 20px;
     margin-top: 30px;
    
     margin-left: 50px;
}

.Recommended__title_S2 p{

    margin-top: 5px;
    margin-left: 50px;
    font-weight: 50;
}



.container_S2{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 30px;
}

.Place_Card_S2{
    flex-grow: 4;
    flex-basis: 20%;
    margin:15px;
     width:100%;
}

.Place_Card_S2 Img{
   
      height: 80%;
    width:95%;
    border-radius: 20px;
   margin: -2px;
    
    
}

.Place_Card_S2 p{
     margin-top: 10px;
}


.Card_S1{
 margin-top: 50px;
margin-left: 50px;
}

.Card_S1 p{
    margin-top: 10px;
    font-size: 15px;
    font: lighter;
}

.Course_Card_S1{
    display: flex;
    gap: -20px;
    height: 270px;
    margin-left: 20px;
   
   
  
}

.Course_S1{
    display: flex ;
flex-wrap: wrap;
justify-content: space-between;
width: 100%;
margin-left: 5px;


 
 }

.Course_Card_S1 img{
     height: 90%;
    width: 80%;
    margin: 20px;
    gap: 10px;

margin-left: 30px;
border-radius: 15px;
}


.Course__1_S1,.Course__2_S1,.Course__3_S1,.Course__4_S1{
    
   position: relative;
   width: 310px;
   height: 270px;
   
    cursor: pointer;
    

}

.Course__1_S1 img,.Course__2_S1 img,.Course__3_S1 img,.course__4_S1 img{
    width: 90%;
    
}
.Course__1_S1 p,.Course__2_S1 p,.Course__3_S1 p,.Course__4_S1 p{
   position: absolute;
    bottom: 10px;  
     
    left: 30px;     
    background: transparent;
    color: white;
    padding: 8px 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;

}
   
 
.Card_S2{
 margin-top: 50px;
margin-left: 50px;
}

.Card_S2 p{
    margin-top: 10px;
    font-size: 15px;
    font: lighter;
}

.Course_Card_S2{
    display: flex;
    gap: -20px;
    height: 270px;
    margin-left: 20px;
   
   
  
}

.Course_S2{
    display: flex ;
flex-wrap: wrap;
justify-content: space-between;
width: 70%;
margin-left: 5px;


 
 }

.Course_Card_S2 img{
     height: 90%;
    width: 80%;
    margin: 20px;
    gap: 10px;

margin-left: 30px;
border-radius: 15px;
}


.Course__1_S2,.Course__2_S2,.Course__3_S2,.Course__4_S2{
    
   position: relative;
   width: 310px;
   height: 270px;
   
    cursor: pointer;
    

}

.Course__1_S2 img,.Course__2_S2 img,.Course__3_S2 img,.course__4_S2 img{
    width: 90%;
    
}
.Course__1_S2 p,.Course__2_S2 p,.Course__3_S2 p,.Course__4_S2 p{
   position: absolute;
    bottom: 10px;  
     
    left: 30px;     
    background: transparent;
    color: white;
    padding: 8px 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;

}

.content_S3 img{
   width: 450px;
    border: solid #E0E0E0  1px;
     border-radius: 12px;
     margin-left: 10px;

}
.content_S3{
    display: flex;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    margin: 60px;
    background-color: #E0E0E0;
    border: solid  #E0E0E0 1px;
    border-radius: 12px;
    margin-left: 90px;
   
}


.Contact_section__S3{
    margin: 20px;
    padding: 20px;
   
}
.Contact_section__S3 h2{
   
   
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 15px;
 
}

.Contact_section__S3 p{
   font-size: 15px;
   padding: 10px;
   
}

.Learn__more{

margin: 20px;
padding: 10px;
border: #00D84A solid 1px;
color: #E0E0E0;
background-color: #0A3D2C;
border-radius: 25px;
align-items: center;
text-align: center;
width: 120px;
margin-left: 35%;
margin-bottom: 20px;


}

 .Contact_section__S3 h4{
   font-size: 15px;
   padding: 10px;
   margin-left: 70px;
   
}
  

.Choice{
 position: relative;
}
.Choice img{

 width: 100%;
 





}

.See__Winner{
position: absolute;
padding: 10px;
border: white solid 1px;
color: black
background-color: #0A3D2C;
border-radius: 25px;
 left: 100px;     
    padding: 8px 12px;

    bottom: 1px;





}
   
.footer{
margin-top: 30px;
    background-color: #E0E0E0;
    color: #1F3D2B;
    display: flex;
    flex: wrap;
    gap: 40px;
    padding: 20px;
    
   
    width: 100%;
 }

 .footer_section_s1,.footer_section_s2,.footer_section_s3{
     padding: 10px;
 } 
 
 .footer_section_s1 p,.footer_section_s2 p,.footer_section_s3 p{
     padding: 5px;
 }

 .footer_section_s4{

 width: 100%;
    background-color: #E0E0E0;
    color: #1F3D2B;
    display: flex;
    flex: wrap;
    gap: 40px;
    padding: 20px;

 }

    
    

  
 

   
    
    

